@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100..900&display=swap');

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
    }
    .apresentacao__conteudo {
        width: auto;
    }
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #343131;
    --cor-secundaria: #A04747;
    --cor-ternaria: #D8A25E;
    --cor-hover: #EEDF7A;
    --font-primaria: "Krona One", sans-serif;
    --font-secundaria: "Montserrat", sans-serif;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-ternaria);
    box-sizing: border-box;
    /* height: 100vp; */
}

.cabecalho {
    padding: 2% 0% 0% 12%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
}

.apresentacao {
    margin: 6% 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--font-primaria);
}

.apresentacao__conteudo__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.apresentacao__conteudo__link {
    background-color: var(--cor-primaria);
    border: 1px solid var(--cor-secundaria);
    color: var(--cor-secundaria);
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 1.5rem;
    padding: 16px 0;
    text-decoration: none;
    font-family: var(--font-secundaria);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.apresentacao__conteudo__link:hover {
    background-color: var(--cor-hover);
}

.apresentacao__link__redes {
    font-family: var(--font-secundaria);
    font-weight: 400px;
    font-size: 1.5rem;
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
}

.titulo-destaque {
    color: var(--cor-secundaria);
}

.apresentacao__img {
    box-shadow: 8px -8px 0 -3px var(--cor-primaria), 8px -8px 0 0 var(--cor-secundaria);
    border-radius: 15px;
    width: 50%;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
    padding: 26px;
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}